@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    scroll-behavior: smooth;
    font-family:'Poppins', sans-serif;
    
}

:root{
    --bg-color:#1f242d;
    --second-bg-color:#323946;
    --text-color: #fff;
    --main-color:  #00aaff;
    --layer-color: #00eeff;
}

html {
    font-size: 62.5%;
 

}

/* General Styles */
body {
    background: var(--bg-color);
    color: var(--text-color);
}

section{
    min-height: 100vh;
    padding: 10rem 9% 2rem;
}

#menu-icon{
    font-size: 3.6rem;
    color:var(--text-color) ;
    display: none;
}

.header {
    background:var(--bg-color);
    padding: 2rem 9%;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 100;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header.sticky {
    border-bottom: .1rem solid rgbs(0, 0, 0, .2);
    
}



.heading {
    text-align: center ;
    font-size: 4.5rem;
    
}
/*BREAKPOINTS*/
@media (max-width: 1200px) {
    html{
        font-size: 55%;
    }
}


@media (max-width: 991px) {
    .header{
        padding: 2rem 3%;
    }

    section {
        padding: 10rem 3% 2rem;
    }

}

@media (max-width: 450px){
    html {
        font-size: 50%;
    }
    section{
    min-height: auto;
    
}
}

