
.resume-box .heading{
    font-size: 3rem;
    text-align: left;
    margin: 2rem;
}

.resume-list2{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 2rem;
    height: 50rem;
    overflow: auto;
}

.resume-list2::-webkit-scrollbar {
    width: .7rem;
}

.resume-list2::-webkit-scrollbar-thumb {
    background: transparent;
    border-radius: 1rem;
}

.resume-list2:hover::-webkit-scrollbar-thumb{
    background: var(--main-color);
}

.resume-list2 .resume-item2 {
    background: var(--second-bg-color);
    border-radius: .8rem;
    padding: 3rem 2.5rem;
    height: calc((45rem-2rem)/2);
    display: flex;
    flex-direction: column;
    justify-content: center;
}




.resume-detail.certificates .resume-list2{
    height: 50rem;
    grid-template-columns: repeat((auto-fit, minmax(25rem, 1fr)));
}




.resume-item2 {
    position: relative;
    display: inline-block;
   
}

.resume-item2 img {
 
    transition: transform 0.3s ease;
    width: 100%;
    
}

.resume-item2 img:hover {
    transform: scale(1.1);
}

.resume-item2 .porfolio-layer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0, 4, 6, 0.8),var(--main-color));
    color:white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    text-align: center;
    border-radius: 10px;
   
}


.resume-item2:hover .porfolio-layer {
    opacity: 1;
    
}



@media (max-width: 780px) {
   

 .resume-detail.certificates .resume-list2{
    height: 42rem;
    grid-template-columns: repeat((auto-fit, minmax(25rem, 1fr)));
}

}




/* For extra small screens */
@media (max-width: 480px) {
   
     .resume-list2 {
        grid-template-columns: repeat(1, 1fr);
        
        }
 .resume-detail.certificates .resume-list2{
    height: 42rem;
    grid-template-columns: repeat((auto-fit, minmax(25rem, 1fr)));
}

}

@media (max-width: 400px) {

 .resume-detail.certificates .resume-list2{
    height: 37rem;
    grid-template-columns: repeat((auto-fit, minmax(25rem, 1fr)));
}

}





























