
.resume-box .heading{
    font-size: 3rem;
    text-align: left;
    margin: 2rem;
}

.resume-list2{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 2rem;
    height: 50rem;
    overflow: auto;
}

.resume-list2::-webkit-scrollbar {
    width: .7rem;
}

.resume-list2::-webkit-scrollbar-thumb {
    background: transparent;
    border-radius: 1rem;
}

.resume-list2:hover::-webkit-scrollbar-thumb{
    background: var(--main-color);
}

.resume-list2 .resume-item2 {
    background: var(--second-bg-color);
    border-radius: .8rem;
    padding: 3rem 2.5rem;
    height: calc((45rem-2rem)/2);
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.resume-detail.skills .resume-list2{
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    height: auto;
    overflow: visible;
}

.resume-detail.skills .resume-item2{
    position: relative;
    align-items: center;
    height: auto;
}

.resume-detail.skills .resume-item2 i{
    font-size: 8.5rem;
    transition: .5s;
}

.resume-detail.skills .resume-item2:hover i{
    color: var(--main-color);
}

.resume-detail.skills .resume-item2 span{
    position: absolute;
    top: -20%;
    background: var(--text-color);
    color: var(--bg-color);
    font-size: 1.6rem;
    padding: .5rem 1rem;
    border-radius: .6rem;
    pointer-events: none;
    opacity: 0;
    transform: scale(.9);
    transition: .2s;
}

.resume-detail.skills .resume-item2:hover span{
    top: -25%;
    opacity: 1;
    transform: scale(1)
}

.resume-detail.about .resume-list2{
    height: auto;
    grid-template-columns: repeat((auto-fit, minmax(25rem, 1fr)));
}

.resume-detail.about .resume-item2{
    height: auto;
    padding: 0 0 .5rem;
    background: transparent;
}

.resume-detail.about .resume-item2 p{
    color: var(--main-color);
}

.resume-detail.about .resume-item2 p span{
    color: var(--text-color);
    margin-left: 1rem;
    font-size: 1.8rem;
}

.resume-item2 {
    position: relative;
    display: inline-block;
   
}

.resume-item2 img {
 
    transition: transform 0.3s ease;
    width: 100%;
    
}

.resume-item2 img:hover {
    transform: scale(1.1);
}

.resume-item2 .porfolio-layer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0, 4, 6, 0.8),var(--main-color));
    color:white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    text-align: center;
    border-radius: 10px;
   
}


.resume-item2:hover .porfolio-layer {
    opacity: 1;
    
}








/* For extra small screens */
@media (max-width: 480px) {
   
     .resume-list2 {
        grid-template-columns: repeat(1, 1fr);
        
        }
 

}





























