
.portfolio{
    background: var(--second-bg-color);
}

.portfolio h2 {
    margin-bottom: 4rem;
}

.portfolio-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    gap: 2.5rem;
}

.portfolio-container .portfolio-box {
    position: relative;
    border-radius: 2rem;
    box-shadow: 0 0 1rem var(--bg-color);
    overflow: hidden;
    display: flex;
}

.portfolio-box img {
    width:100%;
    transition: .5s ease;
}


.portfolio-box:hover img {
    transform: scale(1.1);
    filter: brightness(20%);
}


.portfolio-box .portfolio-layer{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.9));
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 0 4rem;
    transform:translateY(100%) ;
    transition: .5s ease;
}

.portfolio-box:hover .portfolio-layer{
    transform:translateY(0) ;
}


/* portfolio box 2 style - desind project box  styles */

.portfolio-container .portfolio-box2 {
    position: relative;
    border-radius: 2rem;
    box-shadow: 0 0 1rem var(--bg-color);
    overflow: hidden;
    display: flex;
}

.portfolio-box2 img {
    width:100%;
    transition: .5s ease;
}


.portfolio-box2:hover img {
    transform: scale(1.1);
    filter: brightness(20%);
}


.portfolio-box2 .portfolio-layer{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.9));
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 0 4rem;
    transform:translateY(100%) ;
    transition: .5s ease;
}

.portfolio-box2:hover .portfolio-layer{
    transform:translateY(0) ;
}








.portfolio-layer h4{
    font-size: 2.8rem;
}

.portfolio-layer p{
    font-size: 1.4rem;
    margin: .2rem 0 1rem ;
}

.portfolio-layer a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 5rem;
    height: 5rem;
    background: var(--text-color);
    border-radius: 50%;
}

.portfolio-layer a i{
    font-size: 2rem;
    color: var(--second-bg-color);
}


/* add 2 project button */
.portfolio-buttons {
    text-align: center;
    margin: 30px 0;
}

.portfolio-buttons button {
    padding: 10px 24px;
    margin: 6px;
    border-radius: .8rem;
    background-color: var(--bg-color);
    border: .1rem solid var(--second-bg-color);
    font-size: 1.6rem;
    color: var(--text-color);
    font-weight: 500;
    cursor: pointer;
    transition: 0.3s;
    width : 40%;
}


.portfolio-buttons button.active {
    border-color: var(--main-color);
    color: var(--main-color);
}






@media (max-width: 991px) {
     .portfolio{
        padding-bottom:7rem ;
    }

}

@media (max-width: 768px){
    
    .portfolio h2{
        margin-bottom: 3rem;
    }

    .portfolio-container{
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 617px){
    .portfolio-container{
        grid-template-columns: 1fr;
    }
}
    



.social-media-2 a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    background: transparent;
    color: var(--main-color);
    border: .2rem solid var(--main-color);
    border-radius: 50%;
    font-size: 2rem;
    margin: 3rem 1.5rem 3rem 0;
    transition: .5s ease;
    background: var(--main-color);
}

.social-media-2 a:hover{
    background: white;
    color: var(--second-bg-color);
    box-shadow: 0 0 1rem var(--main-color);
}



