.resume-list2{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 2rem;
    
    overflow: auto;
}

.resume-list2::-webkit-scrollbar {
    width: .7rem;
}

.resume-list2::-webkit-scrollbar-thumb {
    background: transparent;
    border-radius: 1rem;
}

.resume-list2:hover::-webkit-scrollbar-thumb{
    background: var(--main-color);
}

.resume-list2 .resume-item2 {
    background: var(--second-bg-color);
    border-radius: .8rem;
    padding: 3rem 2.5rem;
    height: calc((45rem-2rem)/2);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.resume-box{
    font-size: 1.6rem;
    
}
.resume-box h2{
    font-size: 3rem;
}

.resume-box .desc{
    margin: 2rem 0 2.5rem;
}



.resume-detail.skills .resume-item2:hover span{
    top: -25%;
    opacity: 1;
    transform: scale(1)
}

.resume-detail.about .resume-list2{
  
    grid-template-columns: repeat((auto-fit, minmax(25rem, 1fr)));
}

.resume-detail.about .resume-item2{
    height: auto;
    padding: 0 0 .5rem;
    background: transparent;
}

.resume-detail.about .resume-item2 p{
    color: var(--main-color);
}

.resume-detail.about .resume-item2 p span{
    color: var(--text-color);
    margin-left: 1rem;
    font-size: 1.8rem;
}

.resume-item2 {
    position: relative;
    display: inline-block;
   
}

.resume-item2 img {
 
    transition: transform 0.3s ease;
    width: 100%;
    
}

.resume-item2 img:hover {
    transform: scale(1.1);
}

.resume-item2 .porfolio-layer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0, 4, 6, 0.8),var(--main-color));
    color:white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    text-align: center;
    border-radius: 10px;
   
}


.resume-item2:hover .porfolio-layer {
    opacity: 1;
    
}




/* For tablets and phones */
@media (max-width: 768px) {
   
    .resume-detail.about .resume-item2 p span{
        
        margin-left: 1rem;
        font-size: 1.6rem;
    }
}

/* For extra small screens */
@media (max-width: 480px) {
     .resume-list2 {
        grid-template-columns: repeat(1, 1fr);
        
        }
    .resume-box p{
        font-size: 1.3rem;
    }
     .resume-detail.about .resume-item2 p span{
        
        margin-left: 1rem;
        font-size: 1.3rem;
    }
}




@media (max-width: 768px){
    #menu-icon {
        display: block;
    }
    .about{
        flex-direction: column-reverse;
    }

    .aboutimg{
        width: 70vw;
        margin-top: 4rem;
    }
}



@media (max-width: 365px){
    .about-img img{
        width: 90vw;
    }

}















